<div class="carousel my-4">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block img-fluid"
        src="<%= product.imageUrl %> "
        alt="First slide"
      />
    </div>
  </div>
</div>
<div class="d-flex justify-content-between">
  <h1><%= product.title %></h1>
  <h3>$<%= product.price %></h3>
</div>
<p><%= product.description %></p>
<div class="d-flex justify-content-end">
  <a
    class="btn btn-outline-info mr-4 mb-4"
    href="admin/edit-product/<%= product.id %>"
  >
    Edit
  </a>
  <form action="admin/delete-product/<%= product.id %>" method="POST">
    <button type="submit" class="btn btn-outline-danger">Delete</button>
  </form>
</div>
